* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../images/backdrop.jpg");
  background-size: cover;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 15px 50px;
  background-color: rgba(0, 0, 0, 0.4);
  color: red;
  font-family: cursive;
  text-shadow: 0 0 10px rgba(179, 0, 0, 1);
}

nav {
  width: 40%;
  display: flex;
  justify-content: space-around;
  color: inherit;
  text-decoration: none;
}
